# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compressed files
*.gz
*.zip

# Temporary files
*.tmp

# VS Code data
.vscode

# Binary files
*.bin
*.bak
*.orig
*.bcf
*.vcf
*.vcf.gz
*.old
*.new

# Log files
*.log
*.txt

**/git_rev.h

.DS_Store

*.csv

test*